<section class="login-block">
  <div class="container">
    <div class="row mt-5">
      <div class="col login-sec">
        <h2 class="text-center">Registration Form</h2>
        <form>
          <div class="row">
            <div class="col-md-6">
              <input
                [(ngModel)]="fName"
                name="fName"
                type="text"
                class="form-control"
                placeholder="First Name"
                required
              />
            </div>
            <div class="col-md-6">
              <input
                [(ngModel)]="lName"
                name="lName"
                type="text"
                class="form-control"
                placeholder="Last Name"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <input
                [(ngModel)]="username"
                name="username"
                type="text"
                class="form-control"
                placeholder="Username"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <input
                [(ngModel)]="password"
                name="password"
                type="text"
                class="form-control"
                placeholder="Password"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <input
                [(ngModel)]="vPassword"
                name="vPassword"
                type="text"
                class="form-control"
                placeholder="Verify Password"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <input
                [(ngModel)]="email"
                name="email"
                type="text"
                class="form-control"
                placeholder="Email"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <input
                [(ngModel)]="goal"
                name="goal"
                type="text"
                class="form-control"
                placeholder="Calorie goal"
                required
              />
            </div>
          </div>
          <div class="form-check text-center mt-3">
            <button
              (click)="sendUser(); loginPage()"
              class="btn btn-login col-md-5"
            >
              Register
            </button>
            <!-- dispAlert(); loginPage() -->
          </div>
          <div
            *ngIf="show"
            class="alert alert-success mt-3 text-center"
            role="alert"
          >
            You have successfully registered!
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
