<div class="image">
  <br>
  <div class="row justify-content-center">
    <div class="col-sm-8 customCard" style="color: rgb(240, 231, 131);">
      <h1 class="text-center mt-4">
        <span><button type="button" (click)="profile()" class="btn btn-outline-light float-left"> Edit Profile </button></span>
        Welcome {{ currentUser.firstname + " " + currentUser.lastname }}!
        <span><button type="submit" (click)="logout()" class="btn btn-danger float-right"> Logout </button></span>
      </h1>
      <div class="progress ml-4 mr-4">
        <!-- TODO: style attribute should be set to width: (totalCalories/goal)*100 + "%" -->
        <div class="progress-bar customBar" role="progressbar" style="width: 25%"></div>
      </div>
      <h2 style="color: rgb(240, 231, 131);" class="text-center mt-2 mb-2">
        <!-- TODO: "Total" value is inaccurate -->
        Total: {{ startingGoal }} 
        <span style="color: darkgreen;">• </span>
        Goal: {{ currentUser.goal }}
      </h2>
    </div>
  </div>
  <br>
  <div class="container-fluid text-center padding-top-xl">
    <div class="row content">
      <div class="col-lg-2 sidenav">
      </div>
      <div class="col-md-8 rounded mt-3 justShadow" style="background-color: rgb(3, 32, 13)">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title mt-3" style="color:#24cc4e">Food Log
              <span><button type="submit" (click)="removeAll();" class="btn btn-danger float-right mb-2">Remove All</button></span>
              <span><button type="submit" (click)="searchPage()" class="btn btn-success float-right mb-2">Add Food</button></span>
            </h3>
          </div>
          <table style="color: #24cc4e;" class="table table-hover" id="history-table">
            <thead>
              <tr>
                <th>#</th>
                <!-- <th>Course</th> -->
                <th>Food</th>
                <th>Calories</th>
                <th>Carbohydrate</th>
                <th>Protein</th>
                <th>Total Fat</th>
                <th>Photo</th>
                <!-- <th>Time Consumed</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i = index; let f of foods">
                <td>{{ i + 1 }}</td>
                <td>{{ f.name }}</td>
                <td>{{ f.calories }}</td>
                <td>{{ f.carbs }}</td>
                <td>{{ f.protein }}</td>
                <td>{{ f.fat }}</td>
                <td><img src= "{{ f.url }}" width="60" height="60"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-2 sidenav">
      </div>
    </div>
  </div>
</div>
