<p>userhome works!</p>
<button type="submit" (click)="formPage()" class="btn btn-primary btn-lg button-padding-top button-padding-bot">Form</button>
<button type="submit" (click)="tablePage()" class="btn btn-primary btn-lg button-padding-top button-padding-bot">Table</button>
<button type="submit" (click)="searchPage()" class="btn btn-primary btn-lg button-padding-top button-padding-bot">Search</button>
<button type="submit" (click)="mapPage()" class="btn btn-primary btn-lg button-padding-top button-padding-bot">Map</button>