<div class="image"> 
  <div class="container">
    <br>
    <h1 class="text-center" style="font-size: 5em; font-weight: bold;">About</h1>
    <hr class="col-md-4">
    <br>
    <div class="row">
      <br>
      <div class="col-sm text-white aboutCard">
        <br>
        <h2>What is FitBuddy?</h2>
        <p style="font-size: 110%; color: rgb(224, 255, 224);">
          FitBuddy promotes a healthy lifestyle ranging from allowing users to 
          keep track of their nutritional intake to searching for nutritional 
          facts on specific food. <br>
          Users can set and edit calorie goals to meet 
          their diet plan. Then, users can keep track of their calorie goal by 
          adding their food consumption for the day categorized as breakfast, 
          lunch, and dinner. <br>
          FitBuddy is a daily companion tool to encourage a 
          healthy lifestyle starting day one.
        </p>
      </div>
      <div class="col-1"></div>
      <div class="col-sm text-white aboutCard">
        <br>
        <h2>Tech Specs</h2>
        <p style="font-size: 110%; color: rgb(224, 255, 224);">
          <span class="stackTitle">Frontend Stack: </span>
          Angular, AJAX, Bootstrap, CSS, HTML, TypeScript
        </p>
        <p style="font-size: 110%; color: rgb(224, 255, 224);">
          <span class="stackTitle">Backend Stack: </span>
          AWS RDS, Hibernate, Java, Log4j2, Maven, SpringMVC
        </p>
        <p style="font-size: 110%; color: rgb(224, 255, 224);">
          <span class="stackTitle">Testing: </span>
          JUnit, Mockito, TestNG, Selenium
        </p>
        <p style="font-size: 110%; color: rgb(224, 255, 224);">
          <span class="stackTitle">Deployment: </span>
          AWS EC2, <a href="https://github.com/Three-of-Kind-Project2">Git</a>, 
          Jenkins, SonarCloud, Tomcat
        </p>
      </div>
    </div>
    <br><br>
    <div class="row justify-content-center">
      <br><br>
      <div style="font-size: 120%;" class="col-8 text-white text-center aboutCard">
        <br>
        <h2>The Team</h2>
        <div class="row stackTitle">
          <div class="col-sm">
            <p style="font-size: 110%;">Tae Myles</p>
          </div>
          <div class="col-sm">
            <p style="font-size: 110%;">Pranav Udayakumar</p>
          </div>
          <div class="col-sm">
            <p style="font-size: 110%;">Jayson Lutrario</p>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div> 