<div class="container">
  <div class="row">
    <div class="col-sm">
      <div id="firstColumn">
           <!-- first div starts here   -->
          <h1>About</h1>
          <p>Fitbuddy is a Nutrition app, that helps users track their calories and consumption.</p>
                 <!-- first div ends here-->
        </div>
    </div>
    <div class="col-sm">
        <!-- second div starts here   -->
      <div id="secondColumn"><p>hello!</p>
        <!-- second div ends here-->
    </div>
    </div>
    <div class="col-sm">
        <!-- third div starts-->
      <div id="thirdColumn"><p>hello!</p>
        <!-- third div ends-->
    </div>
     
    </div>
  </div>
</div>
