<nav class="navbar navbar-expand-lg">
    <div class="container col-md-9">
        <a class="navbar-brand text-white" routerLink="/home">
            <img src="../../assets/img/logo.png" width="20" alt="image">
            FitBuddy</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>