<section class="login-block">
    <div class="container">
      <div class="row ">
        <div class="col login-sec">
          <h2 class="text-center">Login</h2>
          <form class="login-form">
            <div class="form-group">
              <label style=color:#6dff49>Username</label>
              <input id="username" type="text" name="username" class="form-control" placeholder="">
              <!-- [(ngModel)]="username" -->
            </div>
            
            <div class="form-group">
              <label style=color:#6dff49>Password</label>
              <input id="password" type="password" name="password" class="form-control" placeholder="">
              <!-- [(ngModel)]="password" -->
            </div>
  
            <div class="form-check text-center">
              <button type="submit" (click)="dispAlert(); userhomePage()" class="btn btn-login col-md-5">Submit</button>
              <p class="message mt-3" style="color:white">Not registered? <a style="color:#6dff49" [routerLink]="" (click)="registrationPage()"> Create an account</a></p>
            </div>
            <!-- Alert to show if login was a success -->
            <div *ngIf="show" class="alert alert-success text-center" role="alert">
              Login Successful!
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>