<div class="container" id="info-box">
    <div class="row customCard">
      <br>
      <p class="text-light">
        Enter a food and quantity to get information about its nutritional value
      </p>
    </div>
    <hr />
    <div class="row customCard">
    <form (submit)="onSubmitForm(form)" #form="ngForm" class="mt-4 mb-4">
      <input class="form-control" placeholder="e.g. Big Mac" name="recipe" type="text" [(ngModel)]="recipeInput" />
      <button class="btn btn-primary">Search</button>
    </form>
    <div class="results justify-content-center" id="results">
      <app-food *ngFor="let food of foods" [food]="food">
        <div style="width: 90%" class="card">
          <div class="card-header">
            <h4>{{ food.name }}</h4>
          </div>
          <div class="card-body">
            <img [src]="food.photo || ''" class="img-fluid" alt="" />
            <p>Calories: {{ food.calories }}kcal</p>
            <div class="macros">
              <ul class="list-group" id="macroCategories">
                <li class="list-group-item">Carbs</li>
                <li class="list-group-item">Protein</li>
                <li class="list-group-item">Fat</li>
              </ul>
              <ul class="list-group" id="macroResults">
                <li class="list-group-item">{{ food.carbs }}</li>
                <li class="list-group-item">{{ food.protein }}</li>
                <li class="list-group-item">{{ food.fat }}</li>
              </ul>
              <select class="col-sm-12 form-control" id="type" [(ngModel)]="type" name="type">
                <option [ngValue]="undefined" disabled selected> Select Type </option>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
              </select>
              <button class="btn btn-success" (click)="sendMeal()">Add to log</button>
            </div>
          </div>
        </div>
      </app-food>
    </div>
  </div>
    <div class="form-row text-center align-content-center">
      <div class="col-md-4 mt-4">
        <button type="submit" (click)="goBack()" class="btn btn-sm btn-danger">Go Back</button>
      </div>
    </div>
  </div>



