<div class="image">
    <br><br><br><br><br>
    <h1 class="display-1 align-middle text-center font-weight-bold">FitBuddy</h1>
    <hr class="col-md-4">
    <h3 class="display-3 align-middle text-center font-weight-bold">Healthy Lifestyle Made Easy</h3>
    <br><br>
    <div class="align-middle text-center">
        <!-- <button type="submit" click()="loginPage()" class="myButton">Get started</button> -->
        <button type="submit" (click)="loginPage()" class="btn btn-login">Get Started</button>
    </div>
</div>

<!-- Footer -->
<footer class="footer">

<!-- Copyright -->
<div class="footer-copyright text-center py-3" style="background-color:rgb(3, 32, 13) ; color:white">© 2020 Copyright:
    <a> FitBuddy </a>
</div>
<!-- Copyright -->

</footer>
